/*The text we will be using is MONTSERRAT for the menu and DROID SANS for the headings*/
h1 {
  font-size: 40px;
  font-family: 'Droid Sans', sans-serif;
}

a {
  text-decoration: none;
}
nav {
  display: inline;
  float: left;
}

.logo {
  width: 25%;

}

.nav-menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  list-style-type: none;
}
.nav-info {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
}
