/*The text we will be using is MONTSERRAT for the menu and DROID SANS for the headings*/
/**********
GENERAL
*********/

body {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  min-width: 590px;
}


a {
  text-decoration: none;
}

/********
HEADING
*******/




/**********
NAVIGATION
*********/
#logo {
  display: block;
  margin: 0px 0px 0px 40%;
  width: 25%;
}

.color-strip {
  background-color: #C3BB38;
  height: 12px;
  width: 100%;
  margin-top: 10px;
  border-top: 3px solid #c0c0c0;
}

nav {
  text-align: center;
  background-color: #232323;
  border-top: 5px solid #232323;
  border-bottom: 5px solid #c0c0c0;
  width: 100%;
  height: 40px;
}

nav ul {
  list-style: none;
  margin: 0px;

  padding-left: -40px;
}

nav li {
  display: inline-block;
  margin-top: 10px;

}

.selected {
  background-color: #c0c0c0;
}

nav a {
  padding: 15px 15px;
}

.nav-menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
}
a:visited {
  color: #FFF;
}

/*body {
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  font-size: 40px;
  font-family: 'Droid Sans', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 50px;
  margin: 0px auto;
}
ul {
  border: 3px solid red;
  overflow: hidden;

  margin: 0px auto;
}
li {
  display: inline;
  float: left;
  margin: 5px 20px;
  text-align: center;

}

.logo {
  display: block;
  margin: 0px auto;
  width: 25%;


}

.nav-menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;

}
.nav-info {
  width: 600px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;

}*/
